/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 7, 2021, 9:19:56 AM
    Author     : sksal
*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 89%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 9rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    /* width: 10%; */
}

.navbar-light {
    padding: 0.4em 2em;
    position: absolute;
    z-index: 963;
    width: 92%;
    left: 3.5%;
    top: 4%;
    background: #0093d0;
    border-radius: 70px;
}
