@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f3f3;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%,-50%);
  width: 800px;
  display: flex;
}


/*.wrapper .right {
    width: 96%;
    background: #fff;
    padding: 22px 50px 27px 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 15px;
}*/

/*.wrapper .right {
    width: 90%;
    background: #fff;
    padding: 22px 37px 27px 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 15px;
}*/

/*.wrapper .right {
    width: 85%;
    background: #fff;
    padding: 22px 0px 27px 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 15px;
}*/

.wrapper .right {
    width: 85%;
    background: #fff;
    padding: 22px 40px 27px 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 15px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 39%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
  width: 138%;
}

.logout_button{
    margin-right: 10px;
    float:left;
}

.btn {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 5px;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/



@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 1266px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  /* background: #fff; */

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  /*width: 1170px;*/
  width: 1370px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 8px;
}

.col1{
width: 7%;
padding: 0px 0px 0px 45px ;
}

.col2{
width: 12%;
padding: 0px 0px 0px 76px ;
}

.col3{
width: 4%;
padding: 0px 0px 0px 90px ;
}

.col4{
  width: 15%;
padding: 0px 0px 0px 50px ;
}

.col5{
  width: 12%;
padding: 0px 0px 0px 0px ;
}

.col6{
  width: 11%;
padding: 0px 0px 0px 0px ;
}

.col7{
  width: 8%;
padding: 0px 0px 0px 0px ;
}

.col8{
  width: 8%;
padding: 0px 0px 0px 0px ;
}

.col9{
  width: 11%;
padding: 0px 0px 0px 11px ;
}

.col10{
  width: 5%;
padding: 0px 0px 0px 0px ;
}

.column1 {
width: 2%;
    padding-left: 40px;
}

.column2 {
    width: 2%;
    padding: 0px 2px 0px 11px;
}

.column3 {
    width: 1%;
    padding: 0px 0px 0px 15px;
}

.column4 {
    width: 26%;
    padding: 0px 0px 0px 33px;
}

.column5 {
    width: 11%;
    padding: 0px 0px 0px 8px;
}

.column6 {
    width: 15%;
    padding: 0px 0px 0px 29px;
}

.column7 {
  width: 20%;
  padding: 0px 0px 0px 25px;
}

.column8 {
  width: 8%;
  padding: 0px 30px 0px 23px;
}

.column9 {
  width: 15%;
      padding: 0px 27px 0px 18px;
}

.column10 {
  width: 10%;
      padding: 0px 27px 0px 18px;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;

  background-color: #6c7ae0;
}

.table100.ver1 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

/*---------------------------------------------*/

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}